a {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}
img {
  display: inline-flex;
  vertical-align: middle;
}
@media only screen and (max-width: 600px) {
    .SplitLeft {
        display: none;
    }
}


.material-icons {
  font-size: inherit;
  display: inline-flex;
  vertical-align: middle;
}

.HeaderPage {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.HeaderPage-logo {
  animation: HeaderPage-logo-spin infinite 20s linear;
  height: 80px;
}

.HeaderPage-header {
  position: relative;
  background-color: #00838F;
  height: auto;
  padding: 18px 0 0 0;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  z-index: 999;
  user-select: none;
}

.HeaderPage-header-bar {
  display: inline-block;
  height: 43px;
  line-height: 40px;
  width: auto;
  margin: 0 10px;
  color: white;
  font-size: 28px;
}

.HeaderPage-header-bar-button {
  display: inline-block;
  height: inherit;
  width: 60px;
  margin: 0;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  transition: .3s;
}

.HeaderPage-header-bar-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.HeaderPage-header-bar-button-selected {
  display: inline-block;
  height: inherit;
  width: 80px;
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  border-bottom: 3px solid;
  box-sizing: border-box;
  transition: .3s;
}

.HeaderPage-header-bar-button-selected:hover {
  background: rgba(0, 0, 0, 0.1);
}

.HeaderPage-title {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.HeaderPage-intro {
  font-size: large;
}

.ChList-Header {
  color: #263238;
  height: 50px;
  line-height: 50px;
  background: white;
  box-sizing: border-box;
  border-bottom: 1px solid #ECEFF1;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.ChList-Header >i {
  top: 50px;
  font-size: 20px;
}

.ChList-Row {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  height: 70px;
  border-bottom: 1px solid #ECEFF1;
  background: inherit;
  color: #37474F;
  user-select: none;
  cursor: pointer;
  transition: .3s;
  display: flex;
  flex-direction: row;
}
.ChList-Row-ChPhoto {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #263238;
  margin: 0;
}

.ChList-Row:hover {
  background: #ECEFF1!important;
}
.ChList-Row-selected {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  height: 70px;
  border-bottom: 1px solid #ECEFF1;
  color: white;
  background: #00838F !important;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.ChList-Row-ChName {
  font-size: 20px;
  font-weight: bold;
}

.ChList-Row-ChMore {
  margin-top: 5px;
  font-size: 13px;
}

.ChList-Rows > *:nth-child(odd) {
  background: #FAFAFA;
}

.ChList-Rows {
  height: 100%;
  overflow-y: auto;
  position: relative;
  min-width: 250px;
}

.ChList-Row-ChUnread{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 10px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: auto;
  background-color: #FF4081;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 5px;
  color: white;
}

.SplitComp {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.SplitLeft{
  position: relative;
  height: 100%;
  float: left;
  order: 0;
  flex-grow: 1;
  box-sizing: border-box;
  max-width: 350px;
  border-right: 1px solid #ECEFF1;
}

.SplitRight {
  position: relative;
  height: 100%;
  float: left;
  order: 1;
  flex-grow: 3;
}
.SplitRight >div {
  animation: animateright .3s;
}
@-webkit-keyframes animateright {
  0% {
    opacity: .6;
    width: calc(100% - 8px);
    transform: translate(8px, 0);
  }
  100% {
    opacity: 1;
    width: 100%;
    transform: translate(0, 0);
  }
}
.ChPage {
  display: inline-block;
  position: relative;
  background: #ECEFF1;
  height: 100%;
  width: 100%;
}

.ChPage-Header {
  color: white;
  top: 0;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ECEFF1;
  box-sizing: border-box;
  position: relative;
  background: #37474F;
  user-select: none;
}
.ChPage-Header-left-Button {
  left: 0;
  position: absolute;
  height: inherit;
  padding: 0;
  width: 50px;
  box-sizing: border-box;
  font-size: 25px;
  cursor: pointer;
}

.ChPage-Header-right-Button {
  right: 0;
  position: absolute;
  height: inherit;
  padding: 0;
  width: 50px;
  box-sizing: border-box;
  font-size: 25px;
  cursor: pointer;
}

.ChPage-Messeges{
  position: absolute;
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: auto;
}

.ChPage-Messege{
  position: relative;
  margin-top: 5px ;
  display: inline-block;
  width: 100%;

}

.ChPage-Bubble{
  margin: 0 10px;
  position: relative;
  vertical-align: middle;
  background-color: #006064;
  border-radius: 15px;
  min-height: 30px;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  max-width: 300px;
}
.ChPage-Bubble-Title {
  position: relative;
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 400;
}
.ChPage-Bubble-Text {
  position: relative;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 100;
}
.ChPage-Bubble-Date {
  position: relative;
  width: 100%;
  text-align: right!important;
  font-size: 8px;
  font-weight: 100;
  user-select: none;
}
.ChPage-Bubble > div{
  text-align: left;
  display: block;
  vertical-align: middle;
}

.ChPage-Sender {
  background: white;
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ECEFF1;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.ChPage-Sender-Input {
  display: flex;
  flex-grow: 1;
  outline: none;
  font-size: 18px;
  border: none;
  padding: 3px 16px;
}

.ChPage-Sender-Buttons {
  display: inline-block;
  flex-grow: auto;
  cursor: pointer;
  user-select: none;
}

.ChPage-Sender-Button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 16px;
  margin-right: 16px;
  min-width: 50px;
  height: 32px;
  background-color: #ECEFF1;
  cursor: pointer;
  line-height: 32px;
  user-select: none;
  transition: .3s;
}

.ChPage-Sender-Button:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.Page {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eceff1;
  overflow-y: auto;
  animation: animateright .3s;
}

.Page-Block {
  background-color: white;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  height: auto;
  width: 100%;
  display: inline-block;
  padding: 0px;
  border-top: 1px solid #eceff1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 3px;
  color: #263238;
  transition: .3s;
}

.Page-Block > *:nth-child(even) {
  background-color: #FAFAFA;
}

.Page-Block:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.Page-Row {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  min-height: 30px;
  border-bottom: 1px solid #eceff1;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  transition: .3s;
  background-color: inherit;
}

.Page-Row-Button {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}
.Page-Row:hover {
  background: #ECEFF1;
}
.Page-Row-Text h1 {
  font-size: 25px;
  margin: 0 0 10px 0;
  font-weight: 600;
}
.Page-Row-Text h2 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}
.Page-Row-Text input {
  outline: none;
  font-size: 16px;
  border: none;
  background: none;
  padding: 0;
  width: 100%;
}
.Page-Row-Text p {
  font-size: 14px;
  margin: 0;

}
.Page-Row-Text {
  width: 100%;
}
.Page-Row-ThumbnailText-Head {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 3px solid #263238;
  margin: 0;
  box-shadow: 3px 3px 0 rgba(38, 50, 56, 0.3), inset 3px 3px 0 rgba(38, 50, 56, 0.3);
  background-color: white;
  transition: .3s;
}

.Page-Row-ThumbnailText-Head:hover {
  box-shadow: 3px 3px 0 rgba(38, 50, 56, 0.5), inset 3px 3px 0 rgba(38, 50, 56, 0.3);
}

.Page-Row-ThumbnailText-Text {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  vertical-align: middle;
  flex-direction: column;
}

.Page-Row-ThumbnailText-Text h2 {
  display: flex;
  margin: 0;
  width: 100%;
  height: auto;
  font-size: 20px;
}

.Page-Row-ThumbnailText-Text p {
  display: flex;
  margin: 0;
  width: 100%;
  height: auto;
  font-size: 16px;
}

.BackPage {
  display: inline-block;
  position: relative;
  background: #ECEFF1;
  height: 100%;
  width: 100%;
  animation: animateright .3s;
}

.BackPage-Header {
  color: white;
  top: 0;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ECEFF1;
  box-sizing: border-box;
  position: relative;
  background: #37474F;
  user-select: none;
}
.BackPage-Back-Button {
  left: 0;
  position: absolute;
  height: inherit;
  padding: 0;
  width: 50px;
  box-sizing: border-box;
  font-size: 25px;
  cursor: pointer;
}
.BackPage-Contain{
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  overflow-x: auto;
}
